extends base.pug

mixin emailField(placeholder)
    .form-group
        label(for="email") Email
        input.form-control.underlined(type="email" name="email" placeholder=(placeholder || "Email address") required autofocus)

mixin passwordField(placeholder)
    .form-group
        label(for="password") Password
        input.form-control.underlined(type="password" name="password" placeholder=(placeholder || "Password (5-70 symbols)") pattern="^\\S.{3,68}\\S$" required autofocus)

block content
    .auth
        .auth-container
            .card
                header.auth-header
                    h1.auth-title
                        .logo
                            span.l.l1
                            span.l.l2
                            span.l.l3
                            span.l.l4
                            span.l.l5
                        | #{appTitle}
                .auth-content
                    if title
                        p.text-center #{title.toUpperCase()}
                    form(action=(action || "?") method="POST")
                        if errors
                            each e in errors
                                .form-group
                                    div.alert.alert-danger #{e}
                        if warning            
                            each e in warning
                                .form-group
                                    div.alert.alert-warning #{e}
                        if message
                            each e in message
                                .form-group
                                    div.alert.alert-info #{e}
                        block fields
                        block submit
