window.EntitiesFactory = function(mixins, debounce, axios) {
    return [
{{#components}}
Object.assign({
    name:'{{{name}}}',
    icon:{{{icon}}},
    mixins:mixins,
    data:function(){return{
        values:[],
        {{#remote}}
        {{{name}}}:[],
        {{/remote}}
        inited:false
    }},
    beforeCreate:function(){this.url='{{{url}}}';this.can=Object.freeze({{{can}}});this.rtti=Object.freeze({{{rtti}}});},
    created:function(){this.loadRemoutes();},
    activated:function(){this.loadRemoutes();},
    methods:{
        {{#remote}}
        load_{{{name}}}:debounce(function(){
            var self = this;
            axios.get('{{{url}}}',{responseType:'json'}).then(function(resp){self.{{{name}}}=resp.data;});
        }, 200),
        {{/remote}}
        loadRemoutes:function(){
            {{#remote}}
            this.load_{{{name}}}();
            {{/remote}}
        }
    }
}, {{{render}}}),
{{/components}}
    ]
};
window.MenuFactory = function(){
    return [
{{#menu}}{icon:'{{{icon}}}',name:'{{{name}}}',href:'{{{url}}}',download:{{#download}}true{{/download}}{{^download}}false{{/download}}},{{/menu}}
    ]
}