- const remoteDataName = require('@utils/remote-data-name').default;

mixin baseBlock(v, row, fieldIndex)
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    - const error = row+".errors["+fieldIndex+"]";
    if single
        div(:class="['rg-field-container',{'rg-readonly':"+readonly+"},{'rg-field-error':"+error+"}]")
            block
            .rg-error-field {{!{error}}}  
    else 
        td(:class="['rg-field-container',{'rg-readonly':"+readonly+"},{'rg-field-error':"+error+"}]")
            block
            .rg-error-field {{!{error}}}  

mixin enum(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-select(
            placeholder=v.placeholder||''
            v-model=model
            clearable
            default-first-option
            :disabled=readonly
        )
            if v.enumPairs
                each el in v.enumPairs
                    el-option(label=el[0] value=el[1])
            if v.remote
                el-option(v-for=`item in ${remoteDataName(v.remote)}` :label="item" :value="item" :key="item")

mixin input(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    - const clearable = v.readonly ? false : row+".state=="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-input(
            placeholder=v.placeholder||''
            :clearable=clearable
            :minlength=v.min
            :maxlength=v.max
            v-model=model
            autosize
            :readonly=readonly
        )

mixin date(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-date-picker(            
            placeholder=v.placeholder||''
            type="datetime"
            v-model=model
            :readonly=readonly
        )

mixin array(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-select(
            placeholder=v.placeholder||''
            v-model=model
            multiple
            filterable
            allow-create=!Array.isArray(v.enumPairs)
            default-first-option
            :disabled=readonly
        )
            if v.enumPairs
                each el in v.enumPairs
                    el-option(label=el[0] value=el[1] key=el[0])
            if v.remote
                el-option(v-for=`item in ${remoteDataName(v.remote)}` :label="item" :value="item" :key="item")

mixin number(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-input-number(
            controls-position="right"
            :min=v.min
            :max=v.max
            :precision=v.integer?"0":false
            v-model=model
            :disabled=readonly
        )

mixin boolean(v, row, fieldIndex)
    - const model = row+".v["+fieldIndex+"]"; 
    - const readonly = v.readonly ? 'true' : row+".state!="+EDIT;
    +baseBlock(v, row, fieldIndex)
        el-checkbox(:disabled=readonly v-model=model)