include mixins.pug

- const marked = require('marked'); marked.setOptions({ xhtml:true })
- const sentenceCase = require('sentence-case');

.rg-data_single(v-if="!!values[0]")
    - let i = 0;
    each v, key in props
        if !v.generated
            div 
                if v.description
                    | !{marked(v.description)}
                else
                    p= sentenceCase(key)
                case v.type
                    when 'string'
                        +input(v, "values[0]", i)
                    when 'array'
                        +array(v, "values[0]", i)
                    when 'date'
                        +date(v, "values[0]", i)
                    when 'number'
                        +number(v, "values[0]", i)
                    when 'enum'
                        +enum(v, "values[0]", i)
                    when 'boolean'
                        +boolean(v, "values[0]", i)
                    default
                        span Unsupported type
        - ++i
    if can.PUT
        p 
            el-button(@click="save(values[0])" type="primary" round icon="el-icon-check" :loading="values[0].state=="+SAVE) Save