include mixins.pug

- const sentenceCase = require('sentence-case');

.rg-data(v-loading="!inited")
    table.rg-data__table
        tr
            each v, key in props
                if !v.generated
                    th= v.description||sentenceCase(key)
            if can.DELETE
                td
                    el-tooltip(content="Remove all" placement="left" v-if="values.length>1")
                        el-button(@click="removeAll" type="danger" icon="el-icon-delete" round)
        tr(v-for="(item, index) in values")
            - let i = 0;
            each v, key in props
                if !v.generated
                    case v.type
                        when 'string'
                            +input(v, "item", i)
                        when 'array'
                            +array(v, "item", i)
                        when 'date'
                            +date(v, "item", i)
                        when 'number'
                            +number(v, "item", i)
                        when 'enum'
                            +enum(v, "item", i)
                        when 'boolean'
                            +boolean(v, "item", i)
                        default
                            span Unsupported type
                - ++i
            if can.PUT || can.POST || can.DELETE
                td.rg-data__table__small-cell
                    el-button-group
                        if can.CHANGE                       
                            keep-alive
                                if can.PUT
                                    el-button(
                                        v-if="item.state=="+NONE 
                                        @click="edit(item)" 
                                        type="primary" 
                                        circle 
                                        icon="el-icon-edit" 
                                        :disabled="item.state=="+REMOVE
                                    )                            
                                el-button(
                                    v-if="item.state!="+NONE 
                                    @click="save(item)" 
                                    type="primary" 
                                    circle 
                                    icon="el-icon-check" 
                                    :loading="item.state=="+SAVE 
                                    :disabled="item.state=="+REMOVE
                                )
                        if can.DELETE
                            el-button(
                                @click="remove(item, index)" 
                                type="danger" 
                                icon="el-icon-delete"                                 
                                :disabled="item.state=="+SAVE
                                :loading="item.state=="+REMOVE
                                circle=can.CHANGE
                                round=!can.CHANGE
                            )
    .rg-spacer_white
    if can.POST
        .rg-controlls-panel
            .rg-spacer
            el-button(@click="add" type="primary" round icon="el-icon-plus") New