$maincolor: currentColor;//icono color
$size: 16px;//icono size

@import '~icono/sass/variables.scss';
@import '~icono/sass/mixins.scss';
@import '~icono/sass/functions.scss';
@import '~icono/sass/generals.scss';
@import '~icono/sass/icons/signout.scss';
@import '~icono/sass/icons/gear.scss';
@import '~icono/sass/icons/list.scss';
@import '~icono/sass/icons/volume.scss';
@import '~icono/sass/icons/arrow.scss';

[class*='icono-']
{
    font-style: normal;

    position: relative;

    display: inline-block;

    box-sizing: border-box;

    text-align: left;
    text-indent: -9999px;

    color: $maincolor;

    direction: ltr;
    &:before,
    &:after
    {
        content: '';
        pointer-events: none;
    }
}

$lb: #f0f3f6;


body
{
    font-family: Ubuntu,Segoe UI,Optima,Trebuchet MS,-apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 14px;

    background-color: $lb;
}
.rg-row
{
    display: flex;
    overflow: auto;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;

    align-items: stretch;
}
.rg-col
{
    @extend .rg-row;

    flex-direction: column;
}
.rg-field-error
{
    .el-input > input
    {
        border-color: red;
    }
}
.rg-error-field
{
    color: red;
}
.rg-menu
{
    @extend .rg-col;

    width: 13em;
    min-width: 13em;

    background-color: #2d363f;
    &__item
    {
        display: flex;

        min-height: 1em;
        margin: 0;
        padding: 1em 1.5em;

        text-decoration: none;

        color: rgba(255, 255, 255, .5);
        border: 0;
        outline: 0;

        align-items: center;
        &:active,
        &:hover
        {
            color: white;
            background-color: #212529;
        }
        &_icon + *
        {
            padding-left: .5em;
        }
    }
    .router-link-active
    {
        color: white;
        background-color: #3eb4ce;
    }
}

.el-select
{
    display: block;
}
.el-input > input
{
    transition: 0s;

    border-radius: 0;
}
.el-table__row > td
{
    vertical-align: top;
}
.rg-readonly
{
    .el-input > input
    {
        border: 0;
    }
}
button
{
    outline: 0;
    &:focus
    {
        outline: 0;
    }
}
.rg-spacer
{
    flex-grow: 1;
    &_white
    {
        @extend .rg-spacer;

        background-color: white;
    }
}
.rg-data
{
    @extend .rg-col;

    max-width: 100%;
    max-height: 100%;
    &_single
    {
        @extend .rg-data;

        padding: 0 1em;
    }
    &__table
    {
        width: 100%;

        border-spacing: 0;
        border-collapse: collapse;

        border-bottom: 1px solid $lb;
        background-color: white;

        &__small-cell
        {
            width: 1px;
        }
        td,
        tr,
        th
        {
            margin: 0;
            padding: 0;

            border: 0;
        }
        th
        {
            font-weight: 600;

            height: 3em;
        }
        tr
        {
            transition: background-color .1s linear;

            border-top: 1px solid $lb;
            &:hover
            {
                background-color: #f5f7fa;
            }
            &:first-child
            {
                border-top: 0;
                &:hover
                {
                    background-color: transparent;
                }
            }
        }
        td
        {
            padding: .25em;
            &:last-child
            {
                padding-right: .5em;
            }
            &:first-child
            {
                padding-left: .5em;
            }
        }
    }
}
.rg-controlls-panel
{
    display: flex;

    max-width: 100%;
    min-height: 4em;
    padding-right: 1em;

    align-items: center;
}
.el-table__header-wrapper .cell
{
    text-align: center;
}
.el-notification
{
    width: auto;
    max-width: 600px;

    border-radius: 3px;
}
.el-notification__content
{
    white-space: pre-wrap;
}
.el-input-number__decrease,
.el-input-number__increase
{
    border-radius: 0 !important;
}
.el-button,
.el-checkbox
{
    font-weight: 400;
}
.el-button-group
{
    @extend .rg-row;
}
